.Controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.Gain {
    margin-bottom: 1rem;
}
.Radio {
    display: flex;
    flex-direction: row;
svg{
  width: 10vw;
  height: 10vh;
  fill:#00b8ff;
}
}

