.Effects {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: #00ff9f;
    outline: none;
    border: dotted #d600ff;
    border-width: 2px 2px 2px 2px;
  }

  h2,
  button {
    display: inline;
  }

  button {
    position: absolute;
    height: -0.5rem;
  }
}
