* {
  background-color: #001eff;
  font-family: 'Press Start 2P', cursive;
  color: #d600ff;
}

.Container {
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 20rem;

  p {
    color: #00ff9f;
    display: inline;
  }

  select {
    -webkit-appearance: none;
    background-color: #00ff9f;
    outline: none;
    border: dotted #d600ff;
    border-width: 2px 2px 2px 2px;
    width: 15rem;
  }
}

.keyboard {
  height: 10rem;
}

canvas {
  background-color: hsla(198, 97%, 56%, 1);
  border: 0.25rem solid #d600ff;
  border-radius: 100% 100% 5rem 5rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  max-height: 20rem;
  max-width: 100%;
}

h1 {
  color: #00ff9f;
  font-size: 1.4rem;
  position: relative;
  top: 0;
  left: 1rem;
}
.Radio {
  display: flex;
  flex-direction: row;
}

.effectsDrawer {
  display: flex;
  flex-wrap: wrap;
}
