* {
  background-color: #001eff;
  font-family: 'Press Start 2P', cursive;
  color: #d600ff;
}

.Container {
  display: grid;
  justify-content: center;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  p {
    color: #00ff9f;
    display: inline;
  }
  label {
    margin-left: 1rem;
  }

  select {
    -webkit-appearance: none;
    background-color: #00ff9f;
    outline: none;
    border: dotted #d600ff;
    border-width: 2px 2px 2px 2px;
    width: 15rem;
  }
}

h1 {
  color: #00ff9f;
  font-size: 2em;
}
.Radio {
  display: flex;
  flex-direction: row;
}
