html {
	-webkit-text-size-adjust: none;
	touch-action: manipulation;
}

* {
  background-color: #001eff;
  font-family: 'Press Start 2P', cursive;
  color: #d600ff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

#root{
  display: inline-flex;
}

.Menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  h1{
    font-size: 0.8rem;
  }

  button{
    border: 2px groove #20B9FC;
    border-radius: 20%;
    font-size: 1rem;
  }
}

.buttonResize {
  position: absolute;
  z-index: 2;
  top: -1.6rem;
  background-color: transparent;
  border: 0;
  left: 0;
  svg{color: #7F9528 !important;}
  }


.buttonMinimize {
  position: absolute;
  z-index: 2;
  right: 0;
}

.Container {
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 1rem;

  div[class$='NoteLabelContainer'] {
    flex: 1;
    align-self: flex-end;
    display: none;
  }

  p {
    color: #00ff9f;
    display: inline;
  }

  select {
    -webkit-appearance: none;
    background-color: hsl(157, 100%, 50%);
    outline: none;
    border: dotted #d600ff;
    border-width: 2px 2px 2px 2px;
    min-width: 5rem;
  }
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;

  .Arrow {
    border: 1px solid hsl(198, 70%, 46%);
    background-color: hsl(198, 70%, 36%);
    padding: 0.2rem 0.1rem;
  }
  .Octave {
    position: relative;
    background-color: hsl(231, 97%, 32%);
    padding: 0.1rem .4rem;
    color: #2BFDA2;
  }
  .Panel {
    display: flex;
    margin: 1rem 0 0.5rem;
  }
}

canvas {
  background-color: hsl(197, 80%, 50%);
  border: .8rem solid #bd00ff;
  position: relative;
  width: 97%;
  border-radius: .4em;
  height: auto;
}

.miniWidth canvas {
    background-color: hsl(197, 80%, 50%);
    border: .2rem solid #bd00ff;
    width: 85%;
    border-radius: .4em;
}

h1 {
  color: #00ff9f;
  font-size: 1rem;
  position: relative;
  top: 0rem;
  left: 0.5rem;
}

.Radio {
  display: flex;
  flex-direction: row;
}

.effectsDrawer {
  display: flex;
  flex-wrap: wrap;
}




svg {
  background-color: transparent;
}
